Client {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   username="zookeeper"
   password="zookeeper";
};

KafkaServer {
   org.apache.kafka.common.security.scram.ScramLoginModule required
   username="kafka"
   password="kafka"
   user_kafka="kafka"
   user_broker="broker";
};

KafkaClient {
  org.apache.kafka.common.security.scram.ScramLoginModule required
  username="broker"
  password="broker";
};
